@import "tailwindcss";

@theme {
  /* Primary */

  /* Linear gradient (active input border) */
  --color-Primero: #6448fe;
  --color-Segundo: #600594;
  --color-RedInputErrors: #ff5252;

  /* Neutral */

  --color-White: #ffffff;
  --color-LightGrayishViolet: #dedddf;
  --color-DarkGrayishViolet: #8e8593;
  --color-VeryDarkViolet: #21092f;

  /* font */

  --font-display: "Space Grotesk", sans-serif;

  /* break point */

  --breakpoint-xs: 24.563rem;
  --breakpoint-xxs: 25.75rem;
  --breakpoint-sxs: 23.438rem;
}
